<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>
<%=image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=11&size=600x500
&markers=#{@location.latitude}%2c#{@location.longitude}" %>

<!-- &key=AIzaSyBZjbUSZmCbqwrUp6RW7RoSuNywP42z7gc -->

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
